/* @import url("https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap"); */

body {
  overflow-x: hidden;
}

body::before {
  content: "";
  background: url(./assets/images/background2.jpg) center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}

.bg-custom {
  background: #333;
}
.shadow-bottom {
  /* display: flex; */

  box-shadow: 0px 15px 10px -15px #111;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
}

.nav-tagline {
  font-family: "Flow Circular", cursive;
}

.logo {
  color: aqua;
  padding: 5px 10px;
  font-size: 2rem;
}

.hidden {
  display: none;
}

.outlined-div-dark {
  outline: 2px solid black;
}
.outlined-div-aqua {
  outline: 3px solid aqua;
}
.outlined-div-lime {
  outline: 3px solid lime;
}
.outlined-div-purple {
  outline: 3px solid purple;
}

img.float-left {
  float: left;
  margin-right: 10px;
  height: 300px;
  width: 350px;
}

.horizontal-line {
  position: relative;
  text-align: center;
  margin: 25px 0;
}

.horizontal-line::before,
.horizontal-line::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  border-top: 1.5px solid;
  z-index: 1;
}

.horizontal-line::before {
  left: 0;
}

.horizontal-line::after {
  right: 0;
}

.horizontal-line span {
  position: relative;
  z-index: 2;
  background: white;
  padding: 0px 10px;
}
